body, ul, li, ol, img, a, i, input, form, h1, h2, h3, h4, h5, h6, p, b, dl, dt, dd, td, th, pre, span {
    padding: 0;
    margin: 0;
    list-style: none;
    border: 0;
    text-decoration: none;

}
body,html{
    width:100%;
    height:100%;
background: #F0F0F0;
    
}
.box{
    width:100%;
    height:100%;
   
    
}
.top{
	width:100%;
	height:0.9rem;
	background:white;
	position:fixed;
	left:0;
	top:0;
	z-index:5;
	border-bottom:0.03rem solid #D3D3D3;
}
.zhong{
	width:92%;
	height:100%;
	margin:0 auto;
}
.left{
	width:33.33333%;
	height:100%;
	float:left;
	font-size:0.32rem;
	line-height:1rem;
	text-align:left;
	color:#FFA361;
}
.center{
	width:33.333333%;
	height:100%;
	font-size:0.36rem;
	float:left;
	line-height:1rem;
	text-align:center;
	color:#FFA361;
}
.right{
	width:33.33333%;
	height:100%;
	float:left;
	position:relative;
}
.fangda{
	width:0.4rem;
	height:0.4rem;
	position:absolute;
	right:0rem;
	top:0.3rem;
}
.dianhua{
	width:0.4rem;
	height:0.4em;
	position:absolute;
	top:0.3rem;
	right:1.1rem;
   
}
.swiper-container{
	margin-top:0.9rem;
	width:100%;
	height:3.4rem;
	position:relative;
}
.swiper-slide img{
	width:100%;
	height:100%;
	/*margin-left:-2rem;*/
	
}
/*.swiper-pagination{
	margin-left:-2rem;

}*/
.tubiao-box{
	width:100%;
	height:1.8rem;
	background:#fff;
}
.tubiao{
	width:92%;
	height:100%;
	margin:0 auto;

}
.tubiao li{
	width:25%;
	height:100%;
	float:left;
    position:relative;
}
.tubiao li div{
	width:1rem;
	height:1rem;
    position:absolute;
    left:0;
    right:0;
    margin:0 auto;
    top:0.2rem;
    border-radius:50%;
	
}
.tubiao img{
	width:100%;
	height:100%;
	
}
/*.yuan1{
	background:#FF7D95;
}
.yuan2{
	background:#FF975E;
}
.yuan3{
	background:#FFC34E;
}
.yuan4{
	background:#6CDDDD;
}*/
.tubiao li p{
	width:1.2rem;
	height:0.4rem;
	position:absolute;
	left:0;
	right:0;
	margin:0 auto;
	top:1.3rem;
	font-size:0.24rem;
	line-height:0.4rem;
	text-align:center;
	color:#BBBBBB;
}
.quanqiu{
	width:100%;
	height:1.8em;
	margin-top:0.28rem;
	background:greenyellow;
}
.quanqiu img{
	width:100%;
	height:100%;
}
#swiper-container1{
	width:100%;
	height:2.6rem;
	background:white;
	margin-top:0.28rem;
	overflow: hidden;
	position:relative;
}
.swiper-wrapper1{
	width:200%;
	height:2rem;
	background:red;
	position:absolute;
	top:0.3rem;
	left:0.2rem;

}
.tu1{
	width:20%;
	height:100%;
	background:yellow;
	border-right:0.3rem solid white;
	position:relative;
}
.tu2{
	width:20%;
	height:100%;
	background:yellow;
	border-right:0.3rem solid white;
}
.tu3{
	width:20%;
	height:100%;
	background:yellow;
	border-right:0.3rem solid white;
}
.tu4{
	width:20%;
	height:100%;
	background:yellow;
	border-right:0.3rem solid white;
}
.tu img{
	width:100%;
	height:100%;
	position:absolute;
	/*left:2rem;*/
	top:0;
}
.youhui{
	width:100%;
	height:6.5rem;
	background:white;
	margin-top:0.3rem;
}
.youhui-top{
	width:100%;
	height:1rem;
}
.top-center{
	width:92%;
	height:100%;
	margin:0 auto;
	position:relative;
	line-height:100%;
	
}
.logo{
	width:0.8rem;
	height:0.8rem;
	background:#9C9A9C;
	border-radius: 50%;
	position:absolute;
	top:0.15rem;
	font-size:0.14rem;
	line-height:0.8rem;
	text-align: center;
	color:#D8B9BA;
}
.top-center span{
	font-size:0.36rem;
	position:absolute;
	left:1rem;
	top:0.05rem;
}
.hunqing{
	width:0.7rem;
	height:0.3rem;
	background:#FF7E96;
	border-radius:0.2rem;
	position:absolute;
	left:4.2rem;
	top:0.4rem;
	font-size:0.2rem;
	line-height:0.3rem;
	text-align:center;
	color:white;
}
.top-right{
	width:0.8rem;
	height:0.4rem;
	border:0.03rem solid #FEAF85;
	border-radius:0.1rem;
	position:absolute;
	right:0rem;
	top:0.35rem;
	line-height:0.4rem;
	text-align: center;
	font-size:0.24rem;
	color:#FEAF85;
}
.youhui-tu img{
	width:100%;
	height:4.2rem;
}
.youhui-buttom{
	width:100%;
	height:1rem;
	position:relative;
	font-size:0.36rem;
}
.ding{
	font-size:0.36rem;
	margin-left:0.3rem;
}
.riqi{
	position:absolute;
	left:0.2rem;
	top:0.5rem;
	font-size:0.24rem;
	color:#A6A6A6;
	margin-left:0.2rem;
}
.youhui-two{
	width:100%;
	height:6.5rem;
	margin-top:0.3rem;
}
.logo1{
   background:#E6007B;	
}
.hunqing1{
	margin-left:-1rem;
}
.youhui-three{
	margin-bottom:1rem;
}
.bottom {
    width:100%;
    height: 1.2rem;
    position: fixed;
    left: 0;
    right:0;
    bottom: 0;
    margin:0 auto;
    background: #fff;
    border-top:0.03rem solid #D3D3D3;

}
.bottom ul{
	width:100%;
	height:100%;
}
.shouye{
	width:25%;
	height:100%;
	
	position:relative;
	float:left;
}
.shouye img{
	 width:0.6rem;
    height:0.6rem;
	position:absolute;
	left:0;
	right:0;
	margin:0 auto;
	top:0.05rem;
}
.home1{
	display:none;
	/*display: block;*/
}

.bottom ul li a {
    display:block;
    width:0.8rem;
    height:0.3rem;
    font-size:0.24rem;
    position: absolute;
    left:0.72rem;
    top:0.7rem;
    right:0;
    margin-top:0 auto;
    color:#BBBBBB;
}
